.cursor, .cursor-line {
	pointer-events: none;
	display: none;
	position: absolute;
}

.cursor {
	width: 10px;
	height: 10px;
	border: 2px solid black;
}

.cursor-line {
	height: 400px;
	width: 0;
	border-left: 1px solid black;
}

.annotation-dot {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	background: red;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 16px;
	cursor: pointer;
	border-radius: 4px;
}

.form {
	padding: 4px;
	background: white;
	margin: 4px 0;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.annotation-form {
	display: none;
}

@media print {
	textarea {
		border: 0;
		width: 100%;
	}
}
